# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.packages
pubspec.lock

# Flutter files
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.buildlog/
.flutter-plugins
.dart_tool/
.flutter-plugins-dependencies
.packages

# Build
build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/google-services.json
android/key.properties

# Supabase env
.env
.env.*
supabase/.env
supabase/.env.*
